<label class="form-label">{{ label }}</label>
<input
  [type]="type"
  class="form-control"
  [placeholder]="placeholder"
  [ngClass]="{
    'is-valid': validateState && isValid(),
    'is-invalid': isInValid()
  }"
  [placeholder]="placeholder"
  [formControl]="control"
/>
<div class="state-container">
  <div *ngIf="validateState && isValid()" class="text-success state-min-height">
    Looks good!
  </div>
  <div class="errors-container state-min-height" *ngIf="isInValid()">
    <ng-container *ngFor="let error of errors">
      <div *ngIf="fetchError(error.error)" class="text-danger error-message">
        {{ error.text }}
      </div>
    </ng-container>
  </div>
</div>
