<label class="form-label">{{ label }}</label>
<ng-container
  *ngIf="type === 'text-box'; then thenBlock; else elseBlock"
></ng-container>
<ng-template #thenBlock>
  <textarea
    [formControl]="control"
    class="form-control"
    [readOnly]="disable"
    rows="2"
    [placeholder]="placeholder"
    [ngClass]="{ 'is-invalid': isInValid() }"
  ></textarea>
</ng-template>
<ng-template #elseBlock>
  <input
    [type]="type"
    class="form-control"
    [placeholder]="placeholder"
    [readOnly]="disable"
    [ngClass]="{
      'is-valid': !disable && validateState && isValid(),
      'is-invalid': isInValid()
    }"
    [placeholder]="placeholder"
    [formControl]="control"
  />
</ng-template>

<div class="state-container" *ngIf="!disable">
  <div *ngIf="validateState && isValid()" class="text-success state-min-height">
    Looks good!
  </div>
  <div class="errors-container state-min-height" *ngIf="isInValid()">
    <ng-container *ngFor="let error of errors">
      <div *ngIf="fetchError(error.error)" class="text-danger error-message">
        {{ error.text }}
      </div>
    </ng-container>
  </div>
</div>
