<div class="container d-flex align-items-center mt-5">
  <div class="row row-cols-auto gy-2">
    <app-blog-data-icon
      class="pe-2"
      *ngFor="let icon of icons"
      [iconObj]="icon"
    ></app-blog-data-icon>
  </div>
</div>

<div class="container bg-body shadow-lg text-center mt-2 py-3">
  <h3 class="">Title : {{ blog?.title }}<br /></h3>
  <h5 class="text-secondry">description : {{ blog?.description }}</h5>
</div>
<div class="container mt-5">
  <h1
    class="text-center mx-auto fw-bolder text-main border-bottom border-main border-5 pb-2"
    style="max-width: 100px"
  >
    Blog
  </h1>
  <div class="card shadow-lg text-white p-3 bg-secondary">
    <markdown [data]="blog?.content"></markdown>
  </div>
  <div
    class="container mt-3 d-flex justify-content-around fs-2"
    style="max-width: 200px"
  >
    <i class="bi bi-hand-thumbs-up"></i>
    <i class="bi bi-share"></i>
  </div>
</div>
