<div class="card" style="width: 20rem">
  <img
    src="https://images.pexels.com/photos/267389/pexels-photo-267389.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <h5 class="card-title">{{ blog.title | titlecase }}</h5>
    <p class="card-text">
      {{ blog.description }}
    </p>
    <div class="">
      <span class="badge rounded-pill bg-primary">{{ blog.categorie }}</span>
    </div>
    <div class="card-text d-flex align-items-center">
      <i class="bi bi-person-circle fs-2"></i>
      <h5 class="ms-3">{{ blog.author_fullName }}</h5>
    </div>
    <p class="card-text">
      <small class="text-muted">{{ blog.lastUpdated | date }}</small>
    </p>
    <button class="btn btn-main text-white b-n-o">Read More</button>
  </div>
</div>
