<div class="card" style="width: 20rem">
  <img
    src="https://images.pexels.com/photos/267389/pexels-photo-267389.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <h5 class="card-title">{{ blog.title | titlecase }}</h5>
    <!-- <p class="card-text"> -->
    <!-- {{ blog.description }} -->
    <!-- </p> -->
    <div class="">
      <span [class]="'badge rounded-pill bg-' + badges[blog.categorie]">
        <a
          class="text-decoration-none text-white"
          [routerLink]="'blogs/explore?categories=' + blog.categorie"
        >
          {{ blog.categorie }}
        </a>
      </span>
    </div>
    <div class="card-text">
      <a
        class="d-flex align-items-center text-decoration-none text-main mt-2"
        target="_blank"
        [routerLink]="blog.author_Username"
      >
        <i class="bi bi-person-circle fs-2"></i>
        <h5 class="ms-3">{{ blog.author_fullName }}</h5>
      </a>
    </div>
    <p class="card-text">
      <small class="text-muted">{{ blog.lastUpdated | date }}</small>
    </p>
    <a
      class="btn btn-main text-white b-n-o"
      [routerLink]="['blog', blog.title]"
      target="_blank"
    >
      Read More
    </a>
  </div>
</div>
