<div class="container px-5">
  <h1 class="text-main text-center underline mb-5">Sign up</h1>
  <div class="row">
    <div class="col d-none d-md-block">
      <img src="assets/Sign up.svg" alt="" srcset="" />
    </div>
    <div class="col">
      <form [formGroup]="formGroup" class="need-validation" novalidate>
        <div class="input-group has-validation">
          <span class="input-group-text" id="inputGroupPrepend">@</span>
          <input
            type="text"
            class="form-control is-invalid"
            id="validationCustomUsername"
            aria-describedby="inputGroupPrepend"
            required
          />
          <div class="invalid-feedback">Please choose a username.</div>
        </div>
        <div class="row">
          <div class="col-6">
            <app-form-field
              label="username"
              type="text"
              [addIcon]="true"
              [control]="formGroup"
              controllerName="username"
            ></app-form-field>
          </div>

          <div class="col-6">
            <app-form-field
              controllerName="fullName"
              type="text"
              [addIcon]="true"
              label="Full Name"
              [control]="formGroup"
            ></app-form-field>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <app-form-field
              controllerName="email"
              label="email"
              type="email"
              [addIcon]="true"
              [control]="formGroup"
            ></app-form-field>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <app-form-field
              type="password"
              label="password"
              [control]="formGroup"
              controllerName="password"
              [addIcon]="true"
            ></app-form-field>
          </div>
          <div class="col">
            <app-form-field
              controllerName="confirmPassword"
              label="confirm password"
              type="password"
              [addIcon]="true"
              [control]="formGroup"
            ></app-form-field>
          </div>
        </div>
        <div class="row mt-5 align-items-center">
          <div class="col-6 d-flex justify-content-center">
            <button type="submit" class="btn btn-main b-n-o">Sign up</button>
          </div>
          <div class="col-6">
            <a routerLink="/login" class="btn btn-link b-n-o"
              >Already have account</a
            >
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<h5>Values {{ formGroup.value | json }}</h5>
<h3>Errors {{ formGroup.controls["username"].errors | json }}</h3>
<!-- <h3>Errors {{ formGroup.controls['pal'].errors | json }}</h3>
<h3>Errors {{ formGroup.controls['pal'].errors | json }}</h3>
<h3>Errors {{ formGroup.controls['pal'].errors | json }}</h3> -->
<h3>Valid {{ formGroup.valid | json }}</h3>
